@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background-color: #f3f4f6;
  --contentBg-color: white;
  --primary-color: #3e37cf;
  --secondary-color: #a5b5fd;
  --terturay-color: #d2d5db;
  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
}

.drawer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.drawer-content {
  width: 27rem;
  height: 100vh;
  background-color: var(--contentBg-color);
}

.drawer-header {
  width: 100%;
  padding: 1.5rem;
  color: var(--contentBg-color);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.drawer-header-title {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.drawer-close {
  cursor: pointer;
}

.drawer-header-subtitle {
  color: var(--secondary-color);
  line-height: 1.5rem;
  font-size: 0.85rem;
}
/* Body Section */
.drawer-body {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  font-size: 0.85rem;
}

.name,
.description {
  padding: 0.45rem;
  border-radius: 0.35rem;
  outline: none;
  border: 1.5px solid var(--terturay-color);
}

.name:focus,
.description:focus {
  border: 2px solid var(--primary-color);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

/* Team Section */
.team {
  flex-direction: column;
  width: 100%;
  display: flex;
  row-gap: 1rem;
  font-size: 0.85rem;
}

.team-members {
  width: 100%;
  display: flex;
  column-gap: 0.5rem;
}

.member {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  object-fit: cover;
}

.plus {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px dashed var(--terturay-color);
}

.plus-icon {
  color: var(--terturay-color);
}

/* Privacy Section */
.private-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 0.75rem;
}

.private-container {
  display: flex;
  column-gap: 1rem;
  align-items: flex-start;
}

.formPrivacy {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-size: 0.85rem;
}

.private-info {
  display: flex;
  flex-direction: column;
}

.private-info p {
  color: gray;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 0.75rem;
}

.labelRadio {
  cursor: pointer;
}

.inputRadio {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border: 1px solid var(--terturay-color);
  cursor: pointer;
  color: var(--primary-color);
  appearance: none;
  outline: none;
}

.inputRadio:checked {
  border: 6px solid var(--primary-color);
}
